<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BootStrap Link -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <!-- The CSS Link -->
    <link rel="stylesheet" href="/style.css">
    <!-- Font Awesome Link -->
    <script src="https://kit.fontawesome.com/b8f5c0b8bc.js" crossorigin="anonymous"></script>
    <!-- If we decide we want a google font, it will go here. -->
    
    <title>Sprig</title>
</head>
<body>
    

