<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required value="<%= post.title %>">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" required><%= post.description %></textarea>
    <br>

    <input type="radio" id="indoor" name="plantCategory" value="INDOOR">
    <label for="indoor">INDOOR</label><br>
    <input type="radio" id="outdoor" name="plantCategory" value="OUTDOOR">
    <label for="outdoor">OUTDOOR</label><br>

</div>
<br>
<button type="submit" class="greenBtn">Submit</button>