<%- include('./partials/header.ejs', {title: "About", stylesheet: "about.css"})%>

<div class="container-fluid main">
  <div class="imgBox bg-image col-md-6">
  </div>
  <div class="aboutUs d-flex align-items-center flex-column justify-content-center justify-content-around" class="col-md-6">
    <!-- <h1>About Us</h1> -->

    <span><p>About Us</p></span>

    <p class="aboutBody text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus excepturi incidunt perferendis atque, deserunt itaque deleniti? Eos deserunt sunt nam at quia vero ad animi, quasi accusantium voluptate perferendis quis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id tempora tempore dolores assumenda enim neque, reiciendis cumque error itaque, quam numquam possimus dolor repellendus eius inventore beatae expedita laborum nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi praesentium aperiam veritatis provident ad, asperiores quas corporis quibusdam et earum natus deleniti voluptatibus fugiat vero vitae laudantium! Quod, soluta?     

    </p>

    <p class="contact">If you have any questions or would like to give feedback, please <a href="./landingPage">Contact Us!</a></p>
  </div>
</div>