<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BootStrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- The CSS Link -->
    <link rel="stylesheet" href="/about.css">
    <!-- Font Awesome Link -->
    <script src="https://kit.fontawesome.com/b8f5c0b8bc.js" crossorigin="anonymous"></script>
    <!-- If we decide we want a google font, it will go here. -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">


  

    <title>Sprig - About</title>

</head>

<body>

  <%- include('./partials/navbar.ejs')%>

<div class="container-fluid main">
  <div class="imgBox bg-image col-md-6">
  </div>
  <div class="aboutUs d-flex align-items-center flex-column justify-content-center justify-content-around" class="col-md-6">
    <!-- <h1>About Us</h1> -->

    <span><p>About Us</p></span>

    <p class="aboutBody text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus excepturi incidunt perferendis atque, deserunt itaque deleniti? Eos deserunt sunt nam at quia vero ad animi, quasi accusantium voluptate perferendis quis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id tempora tempore dolores assumenda enim neque, reiciendis cumque error itaque, quam numquam possimus dolor repellendus eius inventore beatae expedita laborum nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi praesentium aperiam veritatis provident ad, asperiores quas corporis quibusdam et earum natus deleniti voluptatibus fugiat vero vitae laudantium! Quod, soluta?     

    </p>

    <p class="contact">If you have any questions or would like to give feedback, please <a href="./contactinfo">Contact Us!</a></p>
  </div>
</div>

<h3>Sprig</h3>  
<h5>by Justin, Ashley, and Maisie</h5>


<!-- Bootstrap Bundle JS & Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</body>
</html>