<%- include('./partials/header.ejs', {pagetitle: "Sign Up"})%>


<div id="signup">
  <p class="text-center signup-title">Create Account</p>
<form class="form">
  <div class="form-group">
    <input type="text" class="form-control" id="fullname"  placeholder="Full Name"> <i class="fa-solid fa-user"></i>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="fullname"  placeholder="Username"> <i class="fa-regular fa-user"></i>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> <i class="fa-solid fa-envelope"></i>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Confirm Email"> <i class="fa-regular fa-envelope"></i>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="age"  placeholder="Age"> <i class="fa-solid fa-check"></i>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="city"  placeholder="City"> <i class="fa-solid fa-city"></i>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="state"  placeholder="State"> <i class="fa-solid fa-flag-usa"></i>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> <i class="fa-solid fa-shield"></i>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password"> <i class="fa-solid fa-shield-halved"></i>
  </div>

  <a href="#" style="display: block;">Already have an account? LOG IN</a>
  <div>
  <button type="submit" class="btn btn-primary" style="background-color: #324132; color: white;">Register</button>
  </div>
</form>
</div>
