* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #87AA8F;

}

.main {
  display: flex;

}



.imgBox {
  /* background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/house-plants-1629187361.jpg?crop=0.288xw:0.577xh;0.0465xw,0.205xh&resize=640:*'); */
  background-image: url('https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?cs=srgb&dl=pexels-sohail-nachiti-807598.jpg&fm=jpg');
  background-position: 100% 0;
  background-size: cover;
  padding: 0;
  margin-left: -20px;
  border-right: darkslategray 10px groove;
  height: 100vh;
  background-attachment: fixed;
}


.aboutBody {
  margin: 0 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.contact {
  font-family: 'Quicksand', sans-serif;
  border: dotted 2px white;
  padding: 10px 15px;
}

.contact a {
  font-size: 30px;
  text-decoration: none;
  color: #023313;
  font-family: 'Fleur De Leah', cursive;
  /* color: #7ac609; */
  /* text-shadow: 2px 2px black; */
}

.contact a:hover {
  text-shadow: 3px 3px 5px white;
}

/* Styling below is for header effect */

.aboutHeader p {
  /* font-family: 'Fleur De Leah', cursive; */
  font-family: 'Berkshire Swash', cursive;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 6rem;
  /* linear-gradient is used when transitioning two or more colors */
  background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
  background-clip: text;
  /* 'webkit' is used in the CSS syntax for rendering content in Safari and Chrome browsers */
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

.aboutHeader {
  position: relative;
}

.aboutHeader:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #023313;
  bottom: 9px;
  transition: all 0.2s ease-out;
}

p:hover {
  background-position: 0 11px;
}

span:hover:before {
  /* repositions an element vertically on the 2D plane */
  transform: translateY(10px)
}

/* Nav-Bar CSS */

#navBar {
  background-image: linear-gradient(#727c83, #A6B3BD, #747e85);
  box-shadow: #1b1b1b 0 4px 10px;
}

#navLogo {
  box-shadow: black 2px 2px 4px;
  padding: 3%;
  border-radius: 100%;
  background-color: #c59c99;
  height: 6vh;
  margin-left: 6%;
}

#navLogoWord {
  margin-right: 2%;
  font-size: 4vh;
  color: whitesmoke;
  text-shadow: black 2px 2px 4px;
  font-family: 'Berkshire Swash', cursive;
}

.nav-link {
  color: #33363F;
  font-weight: bold;
  text-shadow: whitesmoke 2px 2px 4px;
  font-size: 3vh;
  font-family: Inria Serif;
}

#logOutBtn {
  margin: 0 2%;
  float: right;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  font-family: Inria Serif;
  padding: 5px 15px;
  font-size: larger;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background: #a1534d;
  background: linear-gradient(0deg, #a1534d 0%, #ca8580 100%);
  border: none;
}

#logOutBtn:before {
  height: 0%;
  width: 2px;
}

#logOutBtn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#exitImg {
  height: 3vh;
}

.dropdown-menu {
  background-image: linear-gradient(#727c83, #A6B3BD, #747e85);
  box-shadow: #1b1b1b 0 4px 10px;
  color: #33363F;
  font-weight: bold;
  text-shadow: whitesmoke 2px 2px 4px;
  font-size: 3vh;
  font-family: Inria Serif;
}